.header{
    width: 90%;
    background-color:  red;
    display: flex;
    justify-content: space-between;
    padding: 20px ;
    margin: 0 auto; 
}
.logo a{
    font-family: bold;
    text-decoration: none;
    color: #fff;
    font-size: large;
}
header{
    background-color: red;
}

nav a{
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-family: bold;
}